.App {
  text-align: center;
}

body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  color: #4A5568;
 
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e1e3e4;
}

.accordion {
  position: relative;
  margin: auto;
  padding: 0;
  background-color: #dfe2b2;
  overflow: hidden
  
}


.content {
  flex: 1 0 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #282c34;
}


.imgblock {
  position: static;
  display: inline-block;
  margin: -10;
  padding: 0;
  box-sizing: content-box;
  width: 100%;
  height: 70%;
}

.imgblock img {
  background-size: auto;
  width: 100%;
  height: 100%;
  margin-left: 0px;
}

.imgblock span {
  *background: rgba(228, 225, 225, 0.938);
  background: rgb(241, 239, 239);
  color: rgb(10, 4, 4);
  border-radius: 40px;
  position: relative;
  right: 0;
  bottom: 20px;
  font-size: 18px;
  padding: 5px 5px;

}

.imgblock .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: #746008;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.imgblock .btn:hover {
  background: #887e22;

}

.Bron {
  color: #CDD6DB;
}

.Turism {
  text-align: center;
}

.contmeleft {
  border-radius: 8px;
  /* скругляем края блока*/
  width: 100%;
  /* общая ширина блока*/
  border: 1px solid #d9d9d9;
  /* рамка блока*/
  overflow: hidden;
  /* скрывает возможность появления прокрутки блока. */
}

.contmeleft img {
  width: 400px;
  /* ширина картинки 140 */
  height: 250px;
  /* ысота картинки, от неё будет зависеть и размер общего блока */
  object-fit: cover;
  /* обрезаем края картинки, если они не вместятся в блок */
  object-position: 0 70;
  /* тоже обрезка краев */
  margin-right: 10px;
  float: left;
  /* важный момент. с помощью этого знаения, мы показывем браузеру, что блок должен соприкасаться со вторым блоком приемущественно с левой стороны */
}


.contmeleft p {
  overflow-wrap: normal;
  /* показывает тексту, что он не должен заходить за границы блока */
  word-wrap: normal;
  word-break: normal;
  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto;
  /* нет поддержки для русского языка */
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  /* значение auto не поддерживается Chrome */

  padding: 10px;
  /* отступ от рамки до текста - делает его красивее */
  margin-left: 15px;
  /* отступ с левой стороны от блока с картинкой */
  display: block;
  /* обознначает, что это не просто бесформенный текст, а блок внутри блока */
  font-weight: 400;
  
  font-size: 15px;
  /* размер текста*/
  margin: 2px 0 0 0;
  /* отступ от блока с текстом */
}



.contmeright {
  border-radius: 8px;
  /* скругляем края блока*/
  width: 100%;
  /* общая ширина блока*/
  border: 1px solid #d9d9d9;
  /* рамка блока*/
  overflow: hidden;
  /* скрывает возможность появления прокрутки блока. */
}

.contmeright img {
  width: 400px;
  /* ширина картинки 140 */
  height: 250px;
  /* ысота картинки, от неё будет зависеть и размер общего блока */
  object-fit: cover;
  /* обрезаем края картинки, если они не вместятся в блок */
  object-position: 0 70;
  /* тоже обрезка краев */
  margin-right: 10px;
  float: right;

}


.contmeright p {
  overflow-wrap: normal;
  /* показывает тексту, что он не должен заходить за границы блока */
  word-wrap: normal;
  word-break: normal;
  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: auto;
  /* нет поддержки для русского языка */
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  /* значение auto не поддерживается Chrome */

  padding: 10px;
  /* отступ от рамки до текста - делает его красивее */
  margin-right: 15px;
  /* отступ с левой стороны от блока с картинкой */
  display: block;
  /* обознначает, что это не просто бесформенный текст, а блок внутри блока */
  font-weight: 400;
  
  font-size: 15px;
  /* размер текста*/
  margin: 2px 0 0 0;
  /* отступ от блока с текстом */
}